<div class="body">

    <div class="titulo">
        <h1>INTRODUCE TU CODIGO PROMOCIONAL</h1>
    </div>

    <div class="inputBoton">
        <input type="text" placeholder="NCC1701B" maxlength='8'>
        <button class="" (click)="enviarCodigo()">Canjear</button>
    </div>

    <div *ngIf="mostrarFoto" class="contenedorFotico">
        <div class="promo1">
            <h2>NUEVAS GAFAS FIESTA</h2>
            <h3>DISPONIBLES EL 3/12/2020</h3>
        </div>
        <div class="fotico">
            <img src="../../assets/images/fiesta.jpg">
        </div>
        <div class="promo2">
            <h3>ÚNETE A LA GRAN FIESTA DE HAWKERS</h3>
        </div>
    </div>
</div>

<!--
    NUEVAS GAFAS FIESTA
    DISPONIBLES EL 3/12/2020

    ÚNETE A LA GRAN FIESTA DE HAWKERS
-->